.navbar {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;	
}

.header-112 {
	margin-bottom: 5px;
	margin-top: 30px;
}

.absolute {
	width: 100%;
	height: 300px;
	z-index: -1;
	margin-bottom: -250px;
}

.number-112 {
	position: relative;
	width: 600px;
	font-size: 250px;	
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold; 
	vertical-align: middle;
	z-index: 5000;
}

.footer-112 {
	font-size: 24px;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}

.btn-lg {
	font-size: 32px;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}

#map-canvas {
	height: 300px;
	z-index: 998;
}

.pseudolink {
text-decoration: none;
border-bottom: 1px dotted;
cursor: pointer
}

.navbar-brand {
	font-size: 32px;
}

.color777 {
	color: #777;
	margin-top: 20px;

}